<div class="well well-large">
  <div class="row">
    <div class="col-sm-7">
      <%= form_for @bot, :html => {:class => "form-horizontal", :role => "form" } do |b| %>
        <p>
          <div class="form-group">
            <%= b.label :nick, :class => "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= b.text_field :nick, :class => 'form-control', :placeholder => "swagbot" %>
            </div>
          </div>
          <div class="form-group">
            <%= b.label :channel, :class => "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= b.text_field :channel, :class => 'form-control', :placeholder => "#ThatOneChannel" %>
            </div>
          </div>
          <div class="form-group">
            <%= b.label :server, :class => "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= b.text_field :server, :class => 'form-control', :placeholder => "irc.example.com" %>
            </div>
          </div>
          <div class="form-group">
            <%= b.label :port, :class => "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= b.text_field :port, :class => 'form-control', :placeholder => "6667" %>
            </div>
          </div>
          <div class="form-group">
            <%= b.label :server_password, :class => "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= b.password_field :server_password, :class => 'form-control', :placeholder => "Leave blank if none" %>
            </div>
          </div>
          <div class="form-group">
            <%= b.label :nickserv_password, :class => "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= b.password_field :nickserv_password, :class => 'form-control', :placeholder => "Leave blank if none" %>
            </div>
          </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <%= b.submit 'Create New Bot', :class => "btn btn-default" %>
          </div>
        </div>
        </p>
      <% end %>
    </div>
    <div class="col-sm-4">
      <div class="well well-small">
        <dl>
        <dt>Nick</dt>
          <dd>Nickname (A.K.A. Username) of the bot</dd>
        <dt>Channel</dt>
          <dd>The channel the bot will first join. You can have it join more later.</dd>
        <dt>Server</dt>
          <dd>URL of the irc server to connect to. Do not include "http://".</dd>
        <dt>Port</dt>
          <dd>Port of the irc server. 99% of the time this is "6667"</dd>
        <dt>Server Password</dt>
          <dd>If there is a password on the server, specify it here. Otherwise, leave this blank.</dd>
        <dt>Nickserv Password</dt>
          <dd>If you have registered a user with nickserv for the bot, give the password here. Otherwise, leave this blank.</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
