<!DOCTYPE html>
<html>
<head>
  <title><%= CONFIG[:project_name] %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <!-- Nav-bar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href='/welcome/index'><%= CONFIG[:project_name] %></a>
        </div>
        <div class="collapse navbar-collapse">
          <div class="nav navbar-nav">
            <ul class="nav navbar-nav">
              <li><a href='/welcome/index'>Home</a></li>
              <li><a href='/bots/index'>Bots</a></li>
              <li><a href="/welcome/help">Help</a></li>
            </ul>
          </div>
          <% if logged_in? %>
            <div class="nav navbar-nav navbar-right">
              <ul class="nav navbar-nav">
                <li><a href='/logout'>Log Out</a></li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
 
    <!-- flash notices --> 
    <div class="container" style="padding-top: 65px">
      <% if flash[:success] || flash[:info] || flash[:error] %>
        <div class="row">
          <div class="span4">
            <% if flash[:success] %>
              <% alert_type = "success"; alert = flash[:success] %>
            <% elsif flash[:info] %>
              <% alert_type = "info"; alert = flash[:info] %>
            <% elsif flash[:error] %>
              <% alert_type = "danger"; alert = flash[:error] %>
            <% end %>
            <div class="alert alert-<%= alert_type %> alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong><%= alert %></strong>
            </div>
          </div>
        </div>
      <% end %>
      
      <!-- Actual page content -->
      <%= yield %>
    </div>

</body>
</html>
